/* Overall */
html {
  background: #13140d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --rightdiv-leftpadding: 48px;
  --dark-text-color:#333;
  --light-text-color:#ffe;
}

/* Wrappers & Containers */
#container {
  margin: 0 auto;
  width: 1280px;
}

#leftdiv {
  background-image: url(image5.jpg);
  background-size: auto 100vh;
  width: 40%;
  height: 100vh;
  box-sizing: border-box;
  float: left;
  position: relative;
}

#rightdiv {
  width: 60%;
  background-color: #e7e7e7;
  box-sizing: border-box;
  float: left;
  height: 100vh;
}

.welcome-message {
  margin-top: 96px;
  font-size: larger;
  max-width: 60ch;
  width: 75%;
  padding-left: var(--rightdiv-leftpadding);
}

.light-text {
  color: var(--light-text-color);
}
.dark-text {
  color: var(--dark-text-color);
}

#copyright-text {
  position: absolute;
  bottom: 24px;
  text-align: center;
  width:100%;
  box-sizing: border-box;
  font-size: smaller;
  color:var(--light-text-color);

}
.light-text a:visited,
.light-text a:visited {
  color: var(--light-text-color);
}

.dark-text a:visited,
.dark-text a:visited {
  color: var(--dark-text-color);
}

#productlogo {
  position: absolute;
  top: 96px;
  width: 100%;
  background-color: rgba(28, 48, 59, 0);
  height: fit-content;
  padding-bottom: 16px;
}

#logo {
  display: block;
  margin: auto;
  width: 160px;
}
#producttitle {
  margin: 0px;
  padding: 0px;
  margin-top: -40px;
  font-size: x-large;
  font-weight: 600;
  display: block;
  text-align: center;
}

input[type="text"],
input[type="password"] {
  height: 24px;
  box-sizing: border-box;
}

label {
  display: block;
  padding-bottom: 0px;
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 0.9em;
  color: #545454;
  width: auto;
}

#form-div {
  background-color: white;
  padding-left:var(--rightdiv-leftpadding);
  padding-top: 8px;
  padding-bottom: 48px;
  margin-bottom: 24px;
  box-shadow: 0px 4px 5px 0px rgba(74, 74, 74, 0.2);
}

#button-create-account {
  height: 48px;
  padding: 8px 48px;
  margin-top: 32px;
  background-color: rgb(40, 71, 87);
  color: white;
  border-radius: 8px;
  border: 0px;
  margin-left: var(--rightdiv-leftpadding);
}

.form-row {
  display: flex;
  column-gap: 48px;
}

input [type="password"]:invalid {
  border: 1px solid red;
}

#login-query{
    padding-left: var(--rightdiv-leftpadding);
}

input:invalid{
    border:2px solid red;
    background-color: rgba(255, 198, 198, 0.626);
}


input:focus{
    background-color: hsl(206, 95%, 89%);
}